html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background-color: #00539F;
}

body {
  width: 800px;
  margin: 5px auto;
  background-color: #BFDFFF;
  padding: 0 20px 20px 20px;
  border: 5px solid #00539F;
  color: black;
  text-align: center;
}

h1 {
  font-size: 34px;
  text-align: center;
  margin: 6px 0 10px;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

h3 {
  font-size: 19px;
  margin: 14px 0 6px;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
}

li {
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 6px;
  text-align: center;
}

ul {
  list-style-position: inside;
  margin-top: 4px;
  padding: 0;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 22px;
  margin: 0 0 10px;
  padding: 0;
}

.menu li a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.menu li a:hover {
  text-decoration: underline;
}

figcaption {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: black;
  margin-top: 8px;
  text-align: center;
}

.top-reviews {
  background-color: #e6f2ff;
  padding: 15px;
  border: 3px solid #00539F;
  border-radius: 6px;
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
}
